PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DELETED_ACCOUNT_USER_ID=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PUBLIC_SITE_URL=https://dasveganequartett.de
RESEND_API_KEY=
ORDER_EMAIL_FROM=Das Vegane Quartett <bestellung@dasveganequartett.de>
ORDER_EMAIL_REPLY_TO=kontakt@dasveganequartett.de
